/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require inputosaurus
 *= require_tree .
 */
@import "foundation/functions";

#backtotop {
  position:fixed;
  top: rem-calc(15px);
  right: rem-calc(15px);
  font-size: 2rem;
  padding: rem-calc(0px) rem-calc(10px);
  opacity: 0.5;
  display: none;
  z-index: 1; /* on top of the panels which are floats */
}

#backtotop:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.loading-indicator {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}

.inputosaurus-container {
  margin-bottom: 1rem !important;
}
