// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.taglist, .postcontrol {
  font-style: italic;
}

.postpanel {
  height: 20rem;
}

.panelcontainer {
  float: left !important;
}

.post-image {
  max-height: 10rem;
  max-width: 10rem;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
