// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation/functions";

.taglist, .postcontrol {
  font-style: italic;
}

.postpanel {
  height: 20rem;
}

.panelcontainer {
  float: left !important;
}

.post-image-small {
  max-height: 11rem;
  max-width: 11rem;
}

.post-image {
  float: left;
  margin-right: rem-calc(10px);
  margin-bottom: rem-calc(5px);
}

.viewcomments {
  position: absolute;
  bottom: rem-calc(40px);
  left: rem-calc(37px);
}
